.cabin-font {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.filled {
  fill:#000000;
}

circle,rect {
  fill:#ffffff;
}

